/streamlit/QuestionOverfit/.streamlit/secrets.toml
/streamlit/QuestionQuery/.streamlit/secrets.toml
.idea
pyrightconfig.json
streamlit/VocabQuery/.streamlit/secrets.toml
streamlit/QuestionOverfit/philo
streamlit/QuestionOverfit/.DS_Store
streamlit/.DS_Store
.DS_Store
streamlit/VocabOverfit/.ipynb_checkpoints
streamlit/VocabOverfit/add_vocab_equations.ipynb
./streamlit/secrets.toml
